# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
build/
out/

# Dependency directories
node_modules/

# Cache
.cache/
.parcel-cache
.nyc_output
coverage/
*.lcov
.vite/
.vitepress/
.temp/
.svelte-kit/
.docusaurus/

# Environment files
.env
.env.* !.env.example

# TypeScript
*.tsbuildinfo

# Optional cache
.eslintcache
.stylelintcache
.yarn-integrity

# Editor configs
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# OS or editor junk
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# Others
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
src/lib/